
/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --main-bg-color: #000028;
  --accent-color: #ff0070;
  --header-menu-color: #ff0070;
  --menu-button-hover-color: rgb(255 0 112 / 0.4);
  --header-title-color: #db00ff;
  --header-text-color: #000028;
  --main__title-color: #ff0070;
  --main__headings-color: #000028;
  --main__chapter-color: #000028;
  --main-text-color: #f1b2ce;
  --footer-title-color: #db00ff;
}

.theme-dark .header__decorated-rec {
  display: block;
}
/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
