/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
--bg-image: url(../images/cover-image-dark.png);
--main-bg-color: #000028;
--main-font-family: 'IBM Plex Mono';
--main-text-size: 18px;
--header-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--footer-title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
--accent-color: #ff0070;
--header-menu-color: #ff0070;
--menu-button-hover-color: rgb(255 0 112 / 0.4);
--header-title-color: #db00ff;
--header-text-color: #000028;
--main__title-color: #ff0070;
--main__headings-color: #000028;
--main__chapter-color: #000028;
--main-text-color: #f1b2ce;
--footer-title-color: #db00ff;
--page-gap: 40px;
}

@media (width >= 768px) {
  :root {
    --header-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --footer-title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-gap: 60px;
  }
}
